body {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch > input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.idk {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.slider:before {
  position: absolute;
  content: "";
  top: 4px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.canvas-container {
  margin: 0;
  padding: 0;
  width: 600px;
  height: 500px;
  position: relative;
}

canvas {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input[type="range"] {
  appearance: none;
  -webkit-appearance: none;
  display: flex;
  align-items: center;
}

input[type="range"]::-moz-range-thumb {
  appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  margin-top: -4px;
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  background: #ddd;
  border: none;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: black;
  margin-top: -4px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #ddd;
  border: none;
  height: 6px;
  border-radius: 3px;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}
